/***** Style Resets */

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


/***** Heading Styles */
h1 {
  font-size: 45pt;
  font-weight: 300;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 25pt;
  font-weight: 400;
}

body {
  background: url('./img/bg.png');
  background-size: cover; 
  background-repeat: no-repeat;
}

.altTextColor {
color: #E7B092;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.unitbtn {
  border-radius: 50%;
  border: none;
  background: #E7B092;
  box-shadow: none;
  color: #40152A;
  font-weight: lighter;
  font-size: 20px;
  margin: 0 5px;
  border: 2px solid #E7B092;
  width: 43px;
  height: 43px;
  padding: 0px;
  cursor: pointer;
}
.unitbtn.selected {
  background: #40152A;
  color: #E7B092;
  border: 2px solid #E7B092;
}

#wind .unitbtn {
  font-size: 13px;
}

/***** App */
.App {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/***** Main Title Bar Styles */
#titleBar {
  display: flex;
  background-color: #E7B092;
  align-items: center;
  padding: 20px 40px;
  color: #40152A;
  font-weight: bold;
  flex-basis: 100pt;
}
    #titleMain, #titleLocation {
      flex-grow: 1;
      font-size: 55px;
    }
    #titleLocation {
      text-align: right;
      font-size: 30px;
    }

#mainTitle h1 {
  margin: 20pt 0;
}
@media (max-width: 1200px) {
  
}

/***** Main Container Styles */
#mainContainer {
  background-color: rgba(36, 23, 33, 0.4);
  flex-grow: 1;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

    #mainTitle {
      text-align: center;
    }
    .titleBar {
      background-color: #E7B092;
      color: #40152A;
      text-align: left;
      padding: 5px 15px;
    }

    #wGrid {
      display: grid;
      grid-template-rows: 165pt 227pt;
      grid-template-columns: 10% 5fr 7fr 10%;
      grid-template-areas:
        ". temp pressure . "
        ". temp weather .";
      grid-column-gap: 10pt;
      grid-row-gap: 10pt;
      justify-content: center;
    }

    .weatherBox {
      background-color: rgba(36, 23, 33, .4);
      display: flex;
      flex-direction: column;
    }

    .weatherBoxInner {
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 100%;
      font-size: 22px;
    }

  /* Switch weather boxes to vertical layout on mobile */
  @media (max-width: 768px) {
      #wGrid {
        display: flex;
        flex-direction: column;
        padding: 0 10%;
      }
      #weatherBox {
        flex-grow: 1;
      }
  }

#prevDays {
  padding: 40px 0;
}

/* Info data field layout */
.horizontal .infoLine {
  text-align: left;
  flex-basis: 33.33%;
}

.infoLine {
  flex-grow: 1;
  flex-direction: column;
}

.infoValues {
  flex-grow: 1;
}

  /** Arrow **/
  .arrowContainer {
    margin: 0 10px;
  }

/* Vertical Layout for weather data */
.vertical .infoLine {
  flex-direction: row;
  flex-grow: 0;
  flex-basis: 10%;
}

/* Styles for when there is no data in a weather box */
.noData {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Info value text alignment */
.textLeft {
  text-align: left;
}

/* Flex Layout */
.flex {
  display: flex;
}

.flexHalfLeft {
  text-align: left;
  flex-basis: 50%;
}

.flexHalfRight {
  justify-content: right;
  flex-basis: 50%;
  text-align: right;
}

.vertical {
  flex-direction: column;
}

.inline {
  display: inline;
}